.Upper-Image{
	width: 100%;
	height: 700px;
	object-fit: cover;
}
/* デスクトップ用 */
@media screen and (min-width: 960px){
	.Upper-Image{
	}
}
/* モバイル用 */
@media screen and (max-width: 959px){
	.Upper-Image{
		}
 }