/* デスクトップ用 */
@media screen and (min-width: 960px) {
  .Upper-Image {
  }
}
/* モバイル用 */
@media screen and (max-width: 959px) {
  .Upper-Image {
  }
}

.upper {
  background-image: url(../image/UpperImage.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.upper .title {
  color: #3e2723;
}
.title p {
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  display: flex; /* 横並び */
  gap: 20px; /* 文字と線の間隔 */
  color: #3e2723; /* 文字色 */
  margin: 10px 0; /* 上下の余白 */
}

.title p::before,
.title p::after {
  content: "";
  flex: 1; /* 横線を左右に自動で広げる */
  height: 3px; /* 線の太さ */
  background: #3e2723; /* 線の色 */
}
