/* デスクトップ用 */
@media screen and (min-width: 960px) {
  .hero p::before,
  .hero p::after {
    width: 20%;
  }
}

/* モバイル用 */
@media screen and (max-width: 959px) {
  .hero p::before,
  .hero p::after {
    width: 50%;
  }
}

.hero {
  padding: 250px 30px 250px;
  background-image: url(../image/UpperImage.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  color: #3e2723;
}

.hero p::before,
.hero p::after {
  content: "";
  background-color: #000;
  height: 3px;
  /* width: 20%; */
  display: inline-block;
  vertical-align: middle;
}

/* About Me */

.About-Me {
  background-color: #233e2e;
  position: relative;
}
.About-Me .title {
  position: relative;
  top: -45px;
  text-align: center;
  color: #696969;
  font-size: 3.8rem;
}
.bg-text-about {
  position: absolute;
  top: 45%;
  left: 3%;
}
.background-about {
  color: #a9a9a9;
  opacity: 0.1;
  font-size: 5rem;
  font-weight: bold;
}
